<div class="container">
	<h1>ContactUs</h1>
</div>
<div class="container">
	<p>For any enquiry, Please send a message to "Dheyaa Hussein" on the following email address:</p>
	<p class="glyphicon glyphicon-envelope"><span> </span><strong><a href="mailto:dhus4848@uni.sydney.edu.au">dhus4848@uni.sydney.edu.au</a></strong></p>
</div>
<div class="container top-space">
	<p><%= link_to "back", :back %></p>
</div>
