<% if notice %>
<div class="container alert alert-info">
<p><%= notice %></p>
</div>
<% end %>
<!-- Tutorial -->
	<div class="container alert alert-info">
	  <p>Hello, Please play the video or read the below section about How to Answer The Questionnaire</p>
	</div>
	<!-- Responsive Video -->
	<div class="container">
<div class="embed-responsive embed-responsive-16by9">
  <%= video_tag("tutorial.mp4", :controls => true, class: "embed-responsive-item") %>
</div>
</div>
<!-- /Responsive Video -->
<!-- Illustration text -->
	<div class="container">
    <h3><strong>How to Answer The Questionnaire</strong></h3>
    <p class="text-justify">Hello, my name is Dheyaa. Thank you for participating. The questionnaire will take about 10 minutes.</p>
    <p class="text-justify">The study aims to collect information about your preferences towards the visual aspect of streetscape including the number of elements, the height, and the consistency of positon and colour of elements. Choose the scene that you prefer to see in the street, which is not too complex to cause overload or too simple to cause boredom. This will help decide a proper design for future streetscapes.</p>
    <p class="text-justify">You will be shown two scenes on the screen. Imagine that each scene is a design proposal for a public building (e.g. library, hospital, school, museum etc.). Choose the one that you prefer.</p>
    <p class="text-justify">You need to show you preference by choosing one button on the Likert scale. If you prefer scene (A) you need to specify whether you slightly prefer (A), moderately prefer (A) or strongly prefer (A). On the other hand, if you prefer scene (B), you need to specify whether you slightly prefer (B), moderately Prefer (B) or strongly prefer (B). If you have no preference between the two scenes, you can choose Neutral.
    After choosing a button, click Proceed to move to the next comparison.</p>
    <p class="text-justify">Thank you.</p>
  </div>
<!-- /Illustration text -->
<!-- /Tutorial -->

<div class="container">
	<%= link_to "back", :back %>
</div>
